<!DOCTYPE html>
<html>
  <head>
  <title>Orange-PTC</title>
  <!-- <audio
     controls
     loop
     autoplay
     hidden
     src={{ url_for('static', filename="cocomall.mp3") }}   
     type="audio/mpeg"
  >  Uncomment to play audio (audio needs to be uploaded)
  </audio> -->
  </head>
  <style>
    #input_image { display: none; }
    #submit_image { display: none; }
    body {
      background-color: rgb(245, 216, 152);
    }
    h1{
      color: rgb(77, 42, 0);
    }
  </style>
  <body>
    <h1 style="font-family: Arial; font-size: 60px;"><u>Orange-PTC</u></h1>
    <h2 style="font-family: Trebuchet MS; font-size: 30px;"> Upload/Drag Orange Image...</h2>
    <center>
      <br><br>
      <form method="POST" action="/output" enctype="multipart/form-data" >
        <input id="input_image" type="file" name="image">
        <label for="input_image">
          <img src="https://i.ibb.co/C6jvVvC/costume2.png" alt="Upload" width=25% height=15%>
        </label>
        <br><br>
        <input id="submit_image" type="submit" value="Upload">
        <label for="submit_image">
          <img src="https://i.ibb.co/yfG4YFC/costume4-1.png" alt="Upload" width=12% height=8%>
        </label>
      </form>
    <div style="margin-right: 11%;">
      <img src="https://i.ibb.co/BVGLLN3/costume3.png" alt="Upload" width=110% height=84%>
    </div>
    </center>
  </body>
</html>

<!--
Oranges

Tangerines 
Tangerines, a smaller and less rounded type of orange, is known for its sweetness. The peel of tangerines are much thinner, making them a great snack to have whenever. Tangerines are mostly eaten by hand, although they are used in many dishes as well.

Valencia
The Valencia Orange, a sweet orange cultivar, is named after the famed oranges of Valencia, Spain. This type of orange is mainly cultivated for processing or juicing. However, its excellent taste and color make it great for fresh fruit markets as well.

Tangelo Oranges
The Tangelo Orange, which is very juicy, has a tart and tangy taste. Its peel is looser, making it easier to peel than typical oranges. The Tangelo Orange is known for the "nipple" at its stem. 

Blood
The Blood Orange, also known as the Raspberry Orange, is famous for its crimson, blood-colored flesh. The skin on these oranges are typically thicker and harder to peel. Blood oranges have a more tart and floral taste compared to other types of oranges.

Navel
The Navel Orange is the most general and typical orange. This orange has many varieties that are commonly cultivated and eaten today. Navel oranges are used in many dishes such as salads, deserts, and sauces.
-->